<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap-grid.min.css" type ="text/css" media="all"/>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap-reboot.min.css" type ="text/css" media="all"/>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" type ="text/css" media="all"/>
        <link rel="stylesheet" href="main.css" type ="text/css" media="all"/>
        <script src="./Jquery/js/jquery-3.5.1.min.js"></script>
        <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container container-order">
            
                <div class="row border">
                    <div class="col-12">
                        <img style="width:186px" src="./Img/logo.png"> 
                    </div>
                </div>
                <div style="height: 88%;" class="row border-left border-bottom border-right">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 ">
                        <div class="row border-bottom container-video justify-content-center">
                            <video  id="localvideo" autoplay></video>
                        </div>
                        <div class="row control">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="#626262"><path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"></path><path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492a2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0a3.246 3.246 0 0 1-6.492 0z"></path></g></svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="row border-bottom border-left container-chat overflow-auto">
                            <ul class="chat-list">
                                <div class="height3">
                                    <ul class="chat-list">
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                                
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Jimmy Willams</h5>
                                                    <p>Raw denim heard of them tofu master cleanse</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="out">
                                            <div class="chat-img">
                                                <span class="avater-out">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Serena</h5>
                                                    <p>Next level veard</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5 class="name">Jimmy Willams</h5>
                                                    <p>Will stumptown scenes coffee viral.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="out">
                                            <div class="chat-img">
                                                <span class="avater-out">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Serena</h5>
                                                    <p>Tofu master best deal</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5 class="name">Jimmy Willams</h5>
                                                    <p>Will stumptown scenes coffee viral.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="out">
                                            <div class="chat-img">
                                                <span class="avater-out">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Serena</h5>
                                                    <p>Tofu master best deal</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5 class="name">Jimmy Willams</h5>
                                                    <p>Will stumptown scenes coffee viral.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="out">
                                            <div class="chat-img">
                                                <span class="avater-out">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Serena</h5>
                                                    <p>Tofu master best deal</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5 class="name">Jimmy Willams</h5>
                                                    <p>Will stumptown scenes coffee viral.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="out">
                                            <div class="chat-img">
                                                <span class="avater-out">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Serena</h5>
                                                    <p>Tofu master best deal</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5 class="name">Jimmy Willams</h5>
                                                    <p>Will stumptown scenes coffee viral.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="out">
                                            <div class="chat-img">
                                                <span class="avater-out">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5>Serena</h5>
                                                    <p>Tofu master best deal</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <div class="chat-img">
                                                <span class="avater-in">MA</span>
                                            </div>
                                            <div class="chat-body">
                                                <div class="chat-message">
                                                    <h5 class="name">Jimmy Willams</h5>
                                                    <p>Will stumptown scenes coffee viral.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        </ul>
                        </div>
                        <div class="row send border-left">Envio Mensajesss</div>
                    </div>
                </div>
            
           
          </div>
          <script src="main.js"></script>
    </body>
</html>
