@font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("Roboto/Roboto-Bold.ttf");
        }

        video {
            width: 98%;
            height: 98%;
          }

html,body{
    height:100%;
}
p{
    font-family:"Roboto";
    font-size: 0.8rem;
}

.nav-item > a, h5{
    font-family:"Roboto-Bold"
    
}

.container-order{
    min-height: 100%;
    height: 100%;
    padding-top: 2%;  
}
.container-chat{   
    background-color: #F5F6F8;
}

.container-video, .container-chat{   
    min-height:93%;
    max-height: 93%;
    height:200px;
}

.send, .control{
height: 7%;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container-chat.border-left{
        border-left: none !important;
        border-top: 1px solid #dee2e6;
    }
   
}

/*chat*/
.chat-list {
    padding: 0;
}


.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    width: 30px;
    margin-top: 16px;
}

.avater-in {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    line-height: 27px;
    text-align: center;
    background: #00ABF7;
    font-weight: 700;
    display: inline-block;
}

.avater-out {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    line-height: 27px;
    text-align: center;
    background: #51595E;
    font-weight: 700;
    display: inline-block;
}

.chat-list .chat-message {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #4cbef5;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    float: left;
}

.in .chat-message {
    margin-left: 16px;
}

.out .chat-message {
    margin-right: 16px;
}
.out .chat-img{
    right: 0px;
}

.chat-list .out .chat-body {
    float: right;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #7a868e;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #7a868e;
}

.in, .out{
    position: relative;
   
}

.chat-img{
    position: absolute;
    z-index: 1;
}

.card-body{
    padding-left: .9rem;
    padding-right: .9rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-chat{
    display: none;
}


/*@media (max-width: 74.9em) { body {background-color: pink;} }*/
@media (max-width: 61.9em) {
    
    .view-chat{
        display: none;
    }
    .container{
        max-width: 100%;
    }

    .container-video, .container-chat {
        height: 100px;
    }

    .nav-chat{
        display: block;
    }
 }
/*@media (max-width: 47.9em) { body {background-color: green;} }*/
/*@media (max-width: 33.9em) { body {background-color: red;} }*/

.imput-mensaje{
    margin-bottom: 0px !important;
}
.div-mensaje{
    padding-right: 0px;
    padding-left: 0px;
}
#input-internal-mensaje{
    border: 0px transparent;
    border-radius: 0px;
    height: 100%;
}
.send-sms{
    background-color:#00ABF7;
    border-radius: 0px;
    box-shadow:none !important;
}
#input-internal-mensaje:focus {
    color: #495057;
    background-color: #fff;
    border-color:none !important;
    outline: 0;
    box-shadow: none !important;
    height: 100%;
}